/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES 
02. HEADER 
03. NAV 
04. WELCOME SECTION 
*/

/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
    color: #666;
    overflow-x: hidden;
}

a:hover,
a:focus {
    box-shadow: 0 0px transparent;
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;

}

.custom_padding_12_half {
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.custom_padding_9 {
    padding-left: 9px;
    padding-right: 9px;
}

.custom_padding_6 {
    padding-left: 6px;
    padding-right: 6px;
}

.custom_padding_5 {
    padding-left: 5px;
    padding-right: 5px;
}

.custom_padding_store {
    padding-left: 18px;
    padding-right: 18px;
}

.common_banner .banner_top p {
    margin-bottom: 10px;
}

.common_banner .banner_top {
    margin: 0px 0px 0px;
}

/*----------------------------
    COMMON SLIDE
----------------------------*/
.common_slide {
    margin-bottom: 60px;
}

.common_slide .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -50px;
}

.common_slide .owl-nav button img {
    width: 23px;
    height: 99px;
}

.common_slide .owl-nav button.owl-prev {
    position: absolute;
    top: 0;
    left: -42px;
}

.common_slide .owl-nav button.owl-next {
    position: absolute;
    top: 0;
    right: -42px;
}

.common_slide .owl-nav button,
.common_slide .owl-nav button:hover,
.common_slide .owl-nav button:focus {
    background: transparent !important;
    outline: 0;
    box-shadow: none;
}

.common_slide .owl-dots {
    position: absolute;
    bottom: -50px;
    width: 100%;
}

.common_slide .owl-dots span {
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 6px;
    border: 1px solid #333333;
    outline: 0;
    border-radius: 50%;
    background: #333333 !important;
    opacity: .25;
}

.common_slide .owl-dots.active span {
    background: #fff !important;
}

.common_slide.owl-theme .owl-dots .owl-dot.active span,
.common_slide.owl-theme .owl-dots .owl-dot:hover span {
    background: #000 !important;
    border: 1px solid #000;
    opacity: .75;
}

.common_slide button.owl-dot,
.common_slide button.owl-dot:hover,
.common_slide button.owl-dot:focus {
    outline: 0;
    box-shadow: none;
}

/*----------------------------
    COMMON SLIDE
----------------------------*/
.breadcrumbs_area {
    margin-bottom: 15px;
}

.breadcrumb {
    background: transparent;
    padding-left: 0;
    margin: 5px 0px 0px;
}

.breadcrumb li {
    position: relative;
    color: #999;
    font-size: .5625rem;
    line-height: 12px;
    font-family: Arial, sans-serif;
}

.breadcrumb li a {
    color: #999;
    font-size: .5625rem;
    line-height: 12px;
    letter-spacing: .025em;
    margin-left: 0px;
    margin-right: 20px;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0;
    padding-left: 0;
    color: #999;
    content: "";
    position: absolute;
    top: -1px;
    left: -10px;
    content: "»";
}

.breadcrumb-item.active {
    color: #999;
    font-size: .5625rem;
    line-height: 12px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
}

@media (min-width: 768px) {
    .for_mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .for_desktop {
        display: none;
    }

    .container_full_width_mobile {
        width: 100%;
        max-width: 100%;
    }

    .custom_padding_12_half {
        padding-left: 15px;
        padding-right: 15px;
    }

    .custom_padding_6 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .common_slide .owl-nav {
        display: none;
    }

    .breadcrumbs_area {
        border-bottom: 1px solid #ddd;
    }
}

/*---------------------------------------
    HEADER       
-----------------------------------------*/
.header_area {}

.header_top {
    background-color: #f8ede9;
}

.header_top {}

.header_left {}

.header_search {
    position: relative;
    padding-left: 30px;
}

.header_search label {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    position: absolute;
    top: 11px;
    left: 45px;
    text-transform: uppercase;
    z-index: 1;
}

.header_search input:focus + label {
    display: none;
}

.header_search input,
.header_search input:focus {
    background: transparent;
    border: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    outline: 0;
    box-shadow: none;
    padding-left: 15px;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    line-height: 38px;
    background: transparent;
    position: relative;
    z-index: 2;
}

.header_search input:focus {
    width: 250px;
}

.header_search button,
.header_search button:focus {
    position: absolute;
    top: 8px;
    left: 0px;
    border: none;
    background: transparent;
    color: #e0b2aa;
    font-size: 15px;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}

.header_right {}

.header_right ul {
    text-align: right;
}

.header_right ul li {
    display: inline-block;
}

.header_right ul li a {
    color: #666;
    font-size: 12px;
    padding: 5px;
    display: block;
    padding: 10px 17px 6px;
    border-left: 1px solid #fff;
    position: relative;
    font-family: "Times New Roman", Times, serif;
}

.header_right ul li a span {
    position: absolute;
    top: 15px;
    left: 26px;
    color: #fff;
    font-size: 10px;
}

.header_right ul li a {}

.main_logo {
    display: block;
    text-align: center;
}

.main_logo a.navbar-brand {
    width: 252px;
    height: 41px;
    margin: 25px 0px;
}

.main_logo a.navbar-brand {}

.main_logo {}

.main_menu {
    width: 100%;
    /*overflow: hidden;*/
    font-size: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.main_menu ul {
    text-align: center;
}

.main_menu ul li {
    display: inline-block;
    position: relative;
}

.main_menu ul li a {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
}

.main_menu ul li a:hover {
    color: #c79792;
}

.main_menu ul li a {}

@media(min-width: 961px) {
    .mobile_overlay {
        display: none;
    }

    .mobile_menu {
        display: none;
    }

    .header_mobile {
        display: none;
    }
}

@media(max-width: 960px) {
    .header_desktop {
        display: none;
    }

    .header_mobile {
        background-color: #f8ede9;
    }

    .header_mobile {
        text-align: center;
    }

    .header_left_mobile ul {
        text-align: center;
    }

    .header_left_mobile ul li {
        display: inline-block;
        padding: 26px 15px 18px;
        float: left;
        border-right: 1px solid #fff;
    }

    .header_left_mobile {}

    .header_left_mobile {
        float: left;
    }

    .header_left_mobile .showhide {
        cursor: pointer;
    }

    .header_left_mobile .showhide span {
        display: block;
        width: 22px;
        height: 3px;
        background: #e0b2aa;
        margin-bottom: 4px;
    }

    .header_left_mobile .mobile_location {}

    .header_left_mobile .mobile_location i {
        color: #e0b2aa;
        font-size: 20px;
    }

    .mobile_logo {
        width: 100px;
        margin: 0 auto;
        display: inline-block;
    }

    .mobile_logo a {
        width: 100%;
        height: 27px;
        margin: 13px 0px;
    }

    .mobile_logo {}

    .header_right_mobile {
        float: right;
    }

    .header_right_mobile {}

    .header_right_mobile ul {
        text-align: center;
    }

    .header_right_mobile ul li i {
        color: #e0b2aa;
        font-size: 17px;
        cursor: pointer;
    }

    .header_right_mobile ul li:last-child a {
        top: -4px;
    }

    .header_right_mobile ul li a {
        position: relative;
    }

    .header_right_mobile ul li a span {
        position: absolute;
        top: 2px;
        left: 9px;
        color: #fff;
        font-size: 13px;
    }

    .header_right_mobile ul li {
        display: inline-block;
        padding: 26px 15px 18px;
        float: left;
        border-left: 1px solid #fff;
    }

    .header_search_mobile {
        background: #f8ede9;
        display: block;
        width: 100%;
        border-top: 2px solid #fff;
        position: absolute;
        z-index: 2;
        display: none;
    }

    .header_search_mobile input,
    .header_search_mobile input:focus {
        height: 30px;
        background: transparent;
        border: none;
        outline: 0;
        box-shadow: none;
        color: #333;
        font-size: 1rem;
        font-family: Arial, sans-serif;
        letter-spacing: .12em;
        text-transform: uppercase;
        padding: 18px 15px;
    }

    /*----------------------------------
        MOBILE MENU
    ------------------------------------*/

    .mobile_menu {}

    .mobile_overlay.mobile_overlay_open {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .mobile_overlay {
        background: rgba(187, 187, 187, .30);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        z-index: 9;
    }

    .mobile_menu {
        -webkit-transition: -webkit-transform .4s ease;
        -ms-transition: -ms-transform .4s ease;
        transition: transform .4s ease;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        position: fixed;
        width: 75%;
        z-index: 10;
        top: 0;
        background: #fff;
        min-height: 100%;
    }

    .mobile_menu.menu_open {

        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .mobile_menu {}

    .menu-list {
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 66px;
        bottom: 0;
        z-index: 0;
        background: inherit;
        border-color: inherit;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .mobile_menu #menu-content {
        margin: 0px -20px;
    }

    .mobile_menu #menu-content li {
        width: 100%;
        position: relative;
        text-decoration: none;
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 0;
        cursor: pointer;
    }

    .mobile_menu #menu-content li a {
        padding: 15px 25px;
        font-size: 12px;
        line-height: 24px;
        display: block;
        margin-right: 58px;
        border-right: 1px solid #dcdcdc;
        color: #666;
        text-transform: uppercase;
        font-family: "Times New Roman", Times, serif;
    }

    .mobile_menu #menu-content li.with_collapse.collapsed:before {
        position: absolute;
        top: 5px;
        right: 26px;
        content: "+";
        font-size: 24px;
        background: transparent;
    }

    .mobile_menu #menu-content li.with_collapse:before {
        position: absolute;
        top: 25px;
        right: 24px;
        content: "";
        font-size: 24px;
        width: 7px;
        height: 1px;
        background: #666;
    }

    .top_menu_list {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        background: #f8ede9;
    }

    .top_menu_list h2:after {
        position: absolute;
        top: 0;
        right: 58px;
        height: 100%;
        width: 1px;
        background: #fff;
        content: "";
    }

    .top_menu_list h2 {
        color: #666;
        padding-left: 25px;
        position: relative;
        text-transform: uppercase;
        font-family: "Times New Roman", Times, serif;
        padding: 10px 0px 20px 25px;
        margin-bottom: 0;
        position: relative;
    }

    .top_menu_list h2 a {
        font-size: 12px;
        color: #666;
    }

    .top_menu_list h2 span {
        position: absolute;
        top: 11px;
        right: 18px;
        cursor: pointer;
    }

    .top_menu_list h2 span {}
}

@media(max-width: 960px) {}


/*---------------------------------------
    BANNER AREA       
-----------------------------------------*/
.banner_area {}

.banner_top {
    background: url(../images/banner-top.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0px 0px 30px;
}

.banner_top p a {
    color: #fff;
    display: inline-block;
    border-bottom: solid 1px transparent;
}

.banner_top p a:hover {
    color: #d92e66;
    display: inline-block;
    border-bottom: solid 1px #d92e66;
}

.banner_top p {
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: .25em;
    line-height: 1.5;
    vertical-align: middle;
    text-transform: uppercase;
    width: 100%;
    padding: 35px 0px;
}

.banner_holder {}

.banner_inner {
    position: relative;
}

.banner_inner_text_p {
    font-size:14px;
    line-height: 2.5;
    font-weight:600;
    color:#fff;
    letter-spacing:4px;
    text-transform: uppercase;
    word-spacing: 4px;
}

.banner_inner_text {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-right: 50%;
    top: 17%;

}

.banner_inner_text h3 {
    font-size: 33px;
    color: #fff;
    font-style: italic;
}

.banner_inner_text h2 {
    font-size:65px;
    color: #fff;
    letter-spacing:22px;
    line-height:1.3;
    text-transform: uppercase;
}

.banner_inner_text p {
    margin-bottom: 0;
}

.banner_inner_text p a {
    padding: 18px 35px;
    display: inline-block;
    color: #fff; 
    font-size: 30px;
    line-height: 1;
    padding:0px 35px;
    letter-spacing: .085em;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 0.5em 0; 
    text-decoration-line: underline;
   text-decoration-style: solid;
 
}

.banner_inner_text p a:hover { 
     color: #e6c2a0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.banner_inner_text p a {}

.banner_inner_text {}

@media(max-width: 960px) {
    .banner_inner_text h2 {
        font-size: 65px;
        line-height: 0.9;
    }
}

@media(max-width: 767px) {
    .banner_area {
        margin-top: 15px;
    }

    .banner_top p {
        font-weight: 700;
        color: #ffffff;
        font-size: 24px;
        letter-spacing: .25em;
        line-height: 27px;
        padding: 35px 0px;
    }

    .banner_top p a {
        color: #fff;
        display: inline-block;
        margin-top: 15px;
        border-bottom: solid 1px #fff;
    }

    .banner_inner_text h3 {
        font-size: 18px;
    }

    .banner_inner_text_mobile {
        margin-top: 15px;
    }

    .banner_inner_text_mobile p {
        margin-bottom: 0;
    }

    .banner_inner_text_mobile p a {
        padding: 18px 35px;
        display: inline-block;
        color: #fff;
        background: #e06464;
        font-size: 19px;
        line-height: 1;
        padding: 16px 35px;
        text-transform: uppercase;
        font-weight: 500;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        margin: 0.5em 0;
    }

    .banner_inner_text_mobile p a:hover {
        background: #f8ede9;
        color: #333333;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .banner_inner_text_mobile p a {}

    .banner_inner_text_mobile {}
}

/*---------------------------------------
    WELCOME AREA       
-----------------------------------------*/
.welcome_area {
    padding: 40px 0px 60px;
}

.welcome_inner {
    position: relative;
    margin-bottom: 20px;
}

.welcome_inner img {
    width: 100%;
}

.welcome_inner span {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 18px 35px;
    display: inline-block;
    background: #e06464;
    font-size: 25px;
    line-height: 1;
    color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-transform: uppercase;
    text-align: center;
}

.welcome_inner span:hover {
    color: #333333;
    background: #f8ede9;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.welcome_inner {}

@media(max-width: 767px) {
    .welcome_area {
        padding: 20px 0px 35px;
    }

    .welcome_inner span {
        width: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 20px;
        padding: 15px 30px;
        font-size: 19px;
    }
}

/*---------------------------------------
   HOME VIDEO AREA      
-----------------------------------------*/
.home_video_area {}

.home_video_inner {
    background: #f1f6f6;
    padding: 30px 40px 60px;
    text-align: center;
}

.home_video_inner h2 {
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0.9;
    color: #444444;
    padding: 25px 0px;
}

.home_video_inner h2 span {
    font-style: italic;

}

.home_video_inner h2 {}

.home_video_inner h3 {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    color: #333333;
    font-size: 33px;
    font-style: italic;
    padding: 20px 0px;
}

.home_video_inner a {
    padding: 18px 35px;
    display: inline-block;
    color: #333333;
    font-size: 25px;
    border: 1px solid #333333;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.home_video_inner a:hover {
    background: #f8ede9;
}

.home_video_inner {}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 767px) {
    .home_video_inner {
        padding: 15px 15px 35px;
    }

    .home_video_inner h2 {
        font-size: 65px;
    }

    .home_video_inner h3 {
        font-size: 18px;
        padding: 10px 0px;
    }

    .home_video_inner a {
        padding: 15px 30px;
        font-size: 19px;
        letter-spacing: 0.5px;
    }

    .home_video_inner a span {
        display: none;
    }
}

/*---------------------------------------
    HOME PRODUCT SLIDER AREA       
-----------------------------------------*/
.product_slider_area {}

.product_slider_area h3 {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    color: #333333;
    font-size: 33px;
    font-style: italic;
    text-align: center;
}

.product_slider_area h2.color_pink {
    color: #dc6f6f;
}

.product_slider_area h2 {
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0.9;
    color: #444444;
    padding: 25px 0px 40px;
    font-style: italic;
}

.product_slider_area {
    padding: 50px 0px 80px;
}

.product_slide_link {}

.product_slide_link a {}

.product_slide_link a {
    padding: 18px 35px;
    display: inline-block;
    color: #fff;
    background: #e06464;
    font-size: 25px;
    line-height: 1;
    padding: 16px 35px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 30px 0;
}

.product_slide_link a:hover {
    background: #f8ede9;
    color: #333333;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.product_slide_link {}

@media(max-width: 767px) {
    .product_slider_area {
        padding: 30px 0px 0px;
    }

    .product_slider_area h2 {
        font-size: 50px;
        line-height: 1;
        padding: 0px 0px 30px;
    }

    .product_slide_link a {
        padding: 15px 30px;
        font-size: 19px;
        letter-spacing: 0.5px;
    }

    .product_slider_area h3 {
        font-size: 18px;
    }
}

/*---------------------------------------
    PRODUCT SLIDER AREA       
-----------------------------------------*/
.product_with_text_area {}

.product_with_text_area {}

.product_with_text_wrapper {
    position: relative;
    margin-bottom: 12px;
}

.product_with_text_inner.product_with_text_inner_top {
    bottom: auto;
    top: 0;
}

.product_with_text_inner.product_with_text_inner_center {
    bottom: 17%;
}

.product_with_text_inner {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    text-align: center;
}

.product_with_text_wrapper img {
    width: 100%;
}

.product_with_text_inner img {}

.product_with_text_inner h2.text_black {
    color: #333;
}

.product_with_text_inner h2 {
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0.9;
    color: #fff;
    margin-top: 30px;
}

.product_with_text_inner h2 {}

.product_with_text_inner p span {
    border-bottom: 1px solid;
}

.product_with_text_inner p {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 26px;
    line-height: 1.5;
    color: #333333;
    font-style: italic;
}

.product_with_text_inner p {}

.product_with_text_inner a {
    padding: 18px 35px;
    display: inline-block;
    color: #333;
    background: #f8ede9;
    font-size: 25px;
    line-height: 1;
    padding: 16px 35px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 5px 0px;
    font-style: normal;
}

.product_with_text_inner a:hover {
    background: #e06464;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.product_with_text_inner > a {}

@media(max-width: 767px) {
    .product_with_text_wrapper {
        position: relative;
        margin: 20px 0px 0px;
    }

    .product_with_text_inner h2 {
        font-size: 65px;
    }

    .product_with_text_inner a {
        padding: 15px 30px;
        font-size: 19px;
    }

    .product_with_text_inner_mobile {}

    .product_with_text_inner_mobile p {
        font-weight: 400;
        letter-spacing: 0;
        font-size: 18px;
        line-height: 1.5;
        color: #333333;
        font-style: italic;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .product_with_text_inner_mobile p a {}

    .product_with_text_inner_mobile a {
        padding: 15px 30px;
        display: inline-block;
        color: #333;
        background: #f8ede9;
        font-size: 19px;
        line-height: 1;
        padding: 15px 30px;
        text-transform: uppercase;
        font-weight: 500;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        margin: 5px 0px;
        font-style: normal;
    }

    .product_with_text_inner_mobile a:hover {
        background: #e06464;
        color: #fff;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .product_with_text_inner_mobile p a:hover {}

    .product_with_text_inner_mobile {}
}

/*---------------------------------------
    FOOTER AREA       
-----------------------------------------*/
.footer_area {
    font-size: 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer_area {}

.footer_top_menu {}

.footer_top_menu ul {
    text-align: center;
    clear: both;
}

.footer_top_menu ul li {
    display: inline-block;
    position: relative;
    margin: 10px 16px 10px;
    font-size: 12px;
    vertical-align: top;
}

.footer_top_menu ul li a {
    color: #666;
    letter-spacing: .07em;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    display: block;
    position: relative;
}

.footer_top_menu ul li:first-child a:before {
    display: none;
}

.footer_top_menu ul li a:before {
    position: absolute;
    top: 8px;
    left: -18px;
    content: "";
    background: #666;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.footer_top_menu ul li a:before {}

.footer_top_menu {}

.footer_inner_wrapper {
    text-align: center;
}

.footer_inner {
    display: inline-block;
}

.footer_inner {}

.footer_inner_blog a {
    display: inline-block;
    width: 105px;
    color: #c98d81;
    font-size: .75rem;
    font-family: Arial, sans-serif;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f8ede9;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.footer_inner_blog a:hover {
    color: #f8ede9;
    text-decoration: none;
    background-color: #e2b2a9;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.footer_inner_blog a {}

.footer_social {
    text-align: center;
    position: relative;
    top: 2px;
    margin: 0px 7px;
}

.footer_social li {
    display: inline-block;
}

.footer_social li a {
    display: block;
    width: 28px;
    height: 27px;
    background: #979797;
    color: #fff;
    margin: 6px;
    font-size: 17px;
    padding-top: 2px;
}

.footer_inner {}

.footer_sign_up {
    position: relative;
    background: #f4f2f1;
}

.footer_sign_up input,
.footer_sign_up input:focus {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width: 286px;
    color: #666;
    text-align: center;
    border: 0;
    outline: 0;
    box-shadow: none;
    text-align: center;
    height: 30px;
    background: transparent;
    position: relative;
    z-index: 2;
    font-size: 12px;
}

.footer_sign_up label {
    position: absolute;
    color: #666;
    display: block;
    font-size: 12px;
    text-align: center;
    width: 100%;
    font-style: italic;
    top: 5px;
    font-family: "Times New Roman", Times, serif;
    z-index: 1;
}

.footer_sign_up input:focus + label {
    display: none;
}

.footer_sign_up input {}

.footer_inner {}

.footer_long_desc {
    padding: 20px 0px 10px;
    max-width: 1080px;
    margin: 0 auto;
}

.footer_long_desc h2 {
    font-size: 14px;
    margin: 0.5em 0;
    font-style: italic;
    color: #666;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 5px;
}

.footer_long_desc p {
    font-size: 12px;
    margin: 0.5em 0;
    color: #666;
    font-family: "Times New Roman", Times, serif;
}

.footer_long_desc p a {
    color: #e0b2aa;
    display: inline-block;
}

.footer_long_desc p a:hover {
    text-decoration: underline;
}

.footer_long_desc {}

.footer_bottom {
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: #f8ede9;
}

.footer_bottom {}

.footer_bottom_list {}

.footer_bottom_list li {
    display: inline-block;
    margin: 0;
    padding: 10px 7px;
    font-size: 9px;
    letter-spacing: .07em;
}

.footer_bottom_list li a {
    color: #666;
}

.footer_bottom_list li a {}

@media(max-width: 767px) {
    .footer_top_menu {
        margin: 10px 0px;
    }

    .footer_top_menu ul li {
        margin: 5px 16px 5px;
    }

    .footer_sign_up {
        margin-top: 10px;
    }

    .footer_bottom_list li {
        padding: 5px 7px;
    }

    .footer_bottom_list {
        padding: 15px 0px;
    }
}


/***************************************
    APPOINMENT PAGE
***************************************/
.appoinment_area {}

/*-----------------------------
    APPOINMENT MENU
-----------------------------*/
.common_left_menu {}

.common_left_menu ul {
    background-color: rgb(252, 250, 246);
}

.common_left_menu > ul > li {
    border-bottom: 1px solid #ddd;
}

.common_left_menu > ul > li:last-child {
    border: none;
}

.common_left_menu > ul > li > a,
.common_left_menu > ul > li input[type="submit"] {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.84px;
    padding: 16px 20px;
    display: block;
    font-size: 12px;
    color: rgb(102, 102, 102);
    text-transform: uppercase;
}

.common_left_menu ul li a:hover {
    color: rgb(224, 178, 170);
}

.common_left_menu ul ul {
    display: block;
    padding: 15px 0px 15px 20px;
    border-bottom: 1px solid #ddd;
}

.common_left_menu ul ul li {}

.common_left_menu ul ul li a {
    display: block;
    padding: 2px 0;
    color: #666;
    font-size: .75rem;
    letter-spacing: .07em;
    text-transform: none;
    font-family: "Times New Roman", Times, serif;
}

.common_left_menu ul ul li a:hover {}

/*------------------------------
    APPOINMENT INNER
------------------------------*/
.appoinment_inner {
    padding: 20px 28px;
    background: #fcfaf6;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 12.5px;
}

.appoinment_inner {}

.appoinment_heading {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
}

.appoinment_sub_heading {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 1.5em;
}

.appoinment_inner ul {}

.appoinment_inner ul li {
    font-style: italic;
    margin: 20px 0px;
}

.appoinment_inner ul li {}

.appoinment_inner p {
    color: #707070;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.appoinment_inner p span {
    display: inline-block;
    margin: 2px auto;
    width: 24px;
    height: 24px;
    color: #707070;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    background-color: #e9d0ac;
    border-radius: 50%;
    font-style: normal;
}

.appoinment_inner a {
    background: #e0b2aa;
    border: 6px solid #e0b2aa;
    margin: 15px auto;
    width: 90%;
    font-style: normal;
    width: 75%;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
}

.appoinment_inner a span {
    display: block;
    border: 1px solid #fff;
    padding: 10px 0px;
}

.appoinment_inner a:hover {
    color: #000;
}

.appoinment_link {
    margin: 1em 0;
    padding: 30px 20px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-color: #f8ede9;
}

.appoinment_link p {
    font-size: 16px;
    margin-bottom: 0;
    font-style: italic;
}

.appoinment_link a {
    color: #666;
    font-size: 16px;
    display: inline-block;
    text-decoration: underline;
}

.appoinment_link a:hover {
    color: #000;
}

/***********************************
    STORE PAGE
************************************/
.common_content_area {
    margin-bottom: 20px;
}

.common_content_area {}

.store_content_area {
    background: #f9f0ec;
    padding: 30px 20px;
    margin-bottom: 15px;
}

.store_content_area h2 {
    font-weight: 400;
    font-size: 39px;
    letter-spacing: .025em;
    color: #f27984;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1;
    padding: 0 5%;
}

.store_content_area p {
    font-size: 26px;
    letter-spacing: 0;
    line-height: 38px;
    color: #666666;
    font-weight: 500;
    padding: 0 30px;
    margin: 30px 0px;
}

.store_content_area a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    color: #f27984;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 14px 30px;
}

.store_content_area a:hover {
    background: #f27984;
    color: #ffffff;
    border: 1px solid #f27984;
}

.store_content_area_type_2 {
    padding: 30px 20px 42px;
}

.store_content_area_type_2 h2 {
    color: #333333;
}

.store_content_area_type_2 p {
    font-style: italic;
    margin-bottom: 15px;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 38px;
    color: #333333;
    font-weight: 300;
}

.store_content_area_type_2 h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 1.7;
}

.store_content_area_type_2 a {
    font-weight: 300;
    font-size: 25px;
    letter-spacing: .05em;
    color: #333333;
    text-transform: uppercase;
    margin: 2% 0;
    line-height: .8;
    border: none;
    border-bottom: 2px solid;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    padding: 0;
    padding-bottom: 2px;
    font-family: "Cormorant Garamond", serif;
    margin-top: 18px;
}

.store_content_area_type_2 a:hover {
    color: #cc9b5d;
    border-color: #cc9b5d;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
}

@media(max-width: 767px) {
    .store_content_area h2 {
        font-size: 32px;
    }
}

/*---------------------------------
    STORE PRODUCT AREA
---------------------------------*/
.store_product_area {
    background: #fcfaf6;
    border: 1px solid #dcdcdc;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.store_product_area {}

.store_product_area img {
    width: 100%;
}

.store_product_area h2 {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 2px;
    margin: 10px 0 6px;
    font-family: "Times New Roman", Times, serif;
}

.store_product_area p {
    margin-bottom: 0px;
}

.store_product_area p a {
    color: #666666;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: "Times New Roman", Times, serif;
}

.store_product_area {}

/*-------------------------------
    STORE FRONT AREA
-------------------------------*/
.store_link {
    background-color: transparent;
    background: url(../images/appoinment/banner-store.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0px;
}

.store_link p {
    font-size: 21px;
    text-decoration: none;
    display: block;
    color: #666666;
    font-style: normal;
    text-transform: uppercase;
}

.store_link a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-decoration: underline;
}

.store_link a:hover {
    color: #e0b2aa;
}

.store_link {}

/*****************************
    EVENT PAGE
*****************************/
.event_content_area {
    padding: 50px 0px;
}

.event_content_area h2 {
    font-size: 55px;
}

.event_content_area p {
    font-size: 33px;
}

/*------------------------------
    EVENT CONTENT WITH IMAGE
------------------------------*/
.event_content_with_image {
    padding: 50px;
    background-color: #f4ede9;
}

.event_content_with_image {
    margin-bottom: 20px;
}

.event_content_with_image h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    letter-spacing: .2em;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
    margin: 20px;
}

.event_content_with_image h2 {
    font-weight: 500;
    font-size: 65px;
    letter-spacing: .08em;
    color: #333333;
    margin: 0;
    line-height: 1.1;
    font-style: italic;
    padding: 0 0 50px;
}

.event_content_with_image img {}

.event_content_with_image > p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    letter-spacing: .085em;
    line-height: 1.9;
    padding: 50px;
}

.event_content_with_image ul {}

.event_content_with_image ul li {
    margin-bottom: 30px;
}

.event_content_with_image ul li p {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #333333;
    letter-spacing: .15em;
    line-height: 33px;
    text-transform: uppercase;
}

.event_content_with_image ul li a {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: .045em;
    color: #333333;
    text-transform: uppercase;
    font-style: italic;
    display: inline-block;
    margin: 10px 0;
    border-bottom: 2px solid;
    line-height: 1.1;
    text-decoration: none;
    font-size: 36px;
}

.event_content_with_image ul li a:hover {
    color: #e07c7c;
}

.event_content_with_image ul li a:hover {}

.event_content_with_image_2 {
    padding: 25px 0px;
    background: url(../images/appoinment/event-img-2.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.event_content_with_image_2 h3 {
    font-weight: 200;
    font-size: 74px;
    letter-spacing: 0em;
    color: #f3eddd;
    text-transform: uppercase;
    margin: 1% 0 0;
    line-height: 1.1;
}

.event_content_with_image_2 h2 {
    margin-bottom: 15px;
    font-size: 39px;
    letter-spacing: .025em;
    color: #f3eddd;
    font-weight: 200;
    margin: 0;
    line-height: 1.5;
}

.event_content_with_image_2 p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #f3eddd;
    letter-spacing: .25em;
    text-transform: uppercase;
    line-height: 1.85
}

.event_content_with_image_2 a {
    font-size: 35px;
    font-weight: 200;
    color: #f3eddd;
    background: #d6a3a2;
    padding: 1% 2.5%;
    display: inline-block;
    margin: 2% 0 3%;
}

.event_content_with_image_2 a:hover {
    color: #c46271;
}

.event_content_with_image_2 a {}

.event_content_area_type_2 {
    margin-bottom: 20px;
    background-color: #faf3f3;
    padding: 50px 0px;
}

.event_content_area_type_2 h2 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ca9755;
    line-height: 1.1;
    letter-spacing: .09em;
    margin: 0;
}

.event_content_area_type_2 h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .2em;
    line-height: 1.7;
    margin: 50px 0px;
}

.event_content_area_type_2 a {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #ac6e32;
    text-transform: uppercase;
    letter-spacing: .25em;
    border-bottom: 1px solid;
    display: inline-block;
}

.event_content_area_type_2 a:hover {
    color: #D9B6B7;
}

.event_link {}

.event_link a {
    font-family: "Times New Roman", Times, serif;
    color: #e0b2aa;
    font-size: 1rem;
    line-height: 1.3;
}

.event_link a:hover {
    text-decoration: underline;
}

@media(max-width: 767px) {
    .event_content_with_image > p {
        padding: 50px 0px;
    }

    .event_content_area_type_2 h3 {
        margin: 35px 40px;
    }

    .event_content_with_image {
        padding: 50px 10px;
    }
}

@media(max-width: 767px) {}


/******************************
    LOGIN PAGE
*******************************/
.login_area {
    margin-bottom: 80px;
}

.login_heading {}

.login_heading h2 {
    font-size: 1.33em;
    letter-spacing: .1em;
    margin: 0 0 10px;
    color: #666;
    text-transform: uppercase;
    border-bottom: 1px solid #dcdcdc;
    font-family: "Times New Roman", Times, serif;
}

.login_inner {
    padding: 20px 30px;
    background-color: #fcfaf6;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
}

.login_inner_heading {
    margin: 0 0px 30px;
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}

.login_inner_heading h2 {
    font-size: 22px;
}

.login_inner_heading p {
    font-size: 14px;
}

.login_inner input[type='checkbox'],
.login_inner input[type='checkbox']:focus {
    height: auto;
}

.login_inner input,
.login_inner input:focus {
    height: 27px;
    border: 1px solid #666;
    font-size: 14.4px;
    background: #fff;
    border-radius: 0px;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
}

.login_inner select,
.login_inner select:focus {
    height: 27px;
    border: 1px solid #666;
    font-size: 14.4px;
    background: #fff;
    border-radius: 0px;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 10px;
}

.login_inner label {
    font-size: 16px;
}

.login_inner label span {
    color: #ba6a5c;
}

.login_inner button,
.login_inner button:hover,
.login_inner button:focus {
    padding: 20px 50px;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    background-color: #e0b2aa;
    border: 1px solid #fff;
    box-shadow: 0 0 0 5px #e0b2aa;
    cursor: pointer;
    transition: all .15s ease-in-out;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: 0;
    display: block;
    max-width: 100%;
    min-width: 30%;
    margin: 10px auto;
    margin-top: 35px;
    color: #fff;
}

.login_inner button:hover {
    background-color: #e0b2aa;
    color: #666;
}

.login_inner p {
    text-align: center;
}

.login_inner p span {
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    display: inline-block;
    padding: 15px 0px;
    cursor: pointer;
}

.login_modal.modal-body {
    padding: 0;
}


/**************************************
    PRODUCT PAGE
**************************************/
.product_filter {
    margin-bottom: 10px;
}

.product_filter_left {}

.product_filter_left select {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    width: 125px;
    height: 22px;
    float: left;
    background-color: #fcfaf6;
    border: 1px solid #666;
    margin: 0;
    border-radius: inherit;
    padding: 0;
    font-size: 9px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
}

.product_filter_left select {}

.product_filter_right {
    float: right;
}

.product_filter_right ul {}

.product_filter_right ul li {
    display: inline-block;
    color: #666;
    font-size: 16px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.product_filter_right ul li:last-child {
    position: relative;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fcfaf6;
    border: 1px solid #666;
    margin-left: 10px;
}

.product_filter_right ul li a span {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #666;
    margin: 5px 0;
}

.product_filter_right ul li a.prev span {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #666;
    border-left: initial;
    margin: 5px 0;
}
.product_inner {
    margin-bottom: 40px;
}

.product_inner img {
    width: 100%;
}

.product_inner h2 {
    margin-bottom: 0;
    line-height: 17px;
    margin-top: 5px;
}

.product_inner h2 a:hover {
    text-decoration: underline;
}

.product_inner h2 a {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 15px;
    color: #666;
}

.product_inner p {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    color: #666;
}

/**********************************
    PRODUCT SINGLE PAGE
**********************************/
@media(min-width: 1200px) {
    .single_product_container {
        max-width: 900px;
    }
}

.single_product_slide {}

.single_product_left_thumbnail {}

.single_product_left_thumbnail img {
    margin-bottom: 8px;
}

.single_product_slide {}

.single_product_slide .single_product_social {
    margin: 5px 0px;
    margin-left: -5px;
}

.single_product_slide .single_product_social li {
    display: inline-block;
}

.single_product_slide .single_product_social li a {
    display: block;
    width: 28px;
    height: 27px;
    background: #979797;
    color: #fff;
    margin: 6px;
    font-size: 17px;
    padding-top: 2px;
    text-align: center;
}

.single_product_description {}

.single_product_description .product_rating {}

.single_product_description .product_rating li {
    display: inline-block;
    margin-right: 5px;
}

.single_product_description .product_rating li a {
    color: #000;
    font-size: 12px;
    font-style: italic;
    letter-spacing: .14em;
    text-transform: lowercase;
    text-decoration: underline;
    background: transparent;
}

.single_product_description .single_product_color li {
    color: #333;
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
    margin: 6px 0px;
}

.single_product_description .single_product_color li label {
    margin-bottom: 0;
}

.single_product_description .single_product_color li span {}

.single_product_description h2 {
    color: #333;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
}

.single_product_description .product_price {
    color: #333;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0;
}

.single_product_description .single_color_details {}

.single_product_description .single_color_details li {
    display: inline-block;
    position: relative;
    margin: 10px 8px;
    vertical-align: top;
    margin-left: 0;
}

.single_product_description .single_color_details li a {
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 30px;
    min-width: 30px;
    color: #333;
    font-size: .875rem;
    line-height: 30px;
    text-align: center;
    border: 1px solid #666;
    overflow: hidden;
    background-color: #e7d2a0;
    font-family: "Times New Roman", Times, serif;
}

.single_product_description .single_color_details li a:hover {
    border: 2px solid #666;
}

.quantity_box {
    width: 191px;
}

.quantity_box select,
.quantity_box select:focus {
    padding-top: 8px;
    padding-left: 15px;
    width: 100%;
    color: #333;
    font-size: 12px;
    background: #fff;
    background-size: 10px;
    background-image: url(../images/arrow-down-gray.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    border: 1px solid #666;
    -webkit-appearance: none;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
}

.quantity_box select {}

.single_product_description .product_rating {}

.single_product_description button.add_cart_btn,
.single_product_description button.add_cart_btn:focus,
.single_product_description button.add_cart_btn:hover {
    display: inline-block;
    position: relative;
    margin: 10px 0px;
    padding: 15px 32px;
    color: #fff;
    font-size: 1.17em;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    background-color: #e0b2aa;
    border: 1px solid #fff;
    box-shadow: 0 0 0 5px #e0b2aa;
    cursor: pointer;
    transition: all .15s ease-in-out;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: 0;
    box-shadow: none;
    background-color: #333;
    border: 1px solid #333;
}

.single_product_description button.add_cart_btn {}

.single_product_accordion .card {
    border: none;
    text-align: left;
    margin-bottom: 15px;
}

.single_product_accordion .card {}

.single_product_accordion .card-header {
    border: none;
    background: transparent;
    border-radius: 0px;
    padding: 10px 0px;
    padding-left: 0;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}

.single_product_accordion button,
.single_product_accordion button:focus,
.single_product_accordion button:hover {
    color: #2b2b2b;
    font-size: 14px;
    padding-left: 0;
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    position: relative;
    background: transparent;
    border: none;
    padding-left: 20px;
    color: #333;
    font-size: 16px;
    user-select: none;
    font-family: "Times New Roman", Times, serif;
}

.single_product_accordion button:after {
    position: absolute;
    content: "";
    top: 12px;
    left: 1px;
    width: 0;
    height: 0;
    width: 12px;
    height: 1px;
    background: #000;
}

.single_product_accordion button.collapsed:after {
    top: 14px;
    content: "+";
    top: -6px;
    left: 0px;
    width: 0;
    height: 0;
    font-size: 24px;
}

.single_product_accordion .card-body {
    padding: 10px;
    padding-left: 20px;
}

.single_product_accordion p {
    font-size: 11px;
    color: #666;
}

.single_product_accordion p a:hover {
    text-decoration: underline;
}

.single_product_accordion p a {
    color: #e0b2aa;
}

.single_product_accordion ul {
    list-style: circle;
    padding-left: 15px;
}

.single_product_accordion ul li {
    font-size: 11px;
    margin: 2px 0px;
}

.single_product_accordion ul li a:hover {
    text-decoration: underline;
}

.single_product_accordion ul li a {
    color: #e0b2aa;
}

/*----------------------------------
    SINGLE LINK AREA
----------------------------------*/
.single_link_wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.single_link {
    background: #faece9;

}

.related_item {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.related_item_title p {
    color: #000;
    font-size: 15px;
}

.related_item_title h2 {
    font-size: 1.125rem;
    text-align: left;
    margin: 20px 0px;
    color: #333;
    font-family: "Times New Roman", Times, serif;
}

.no-border {
    border: none;
}

/*----------------------------------
    SINGLE PRODUCT TABLE
-----------------------------------*/
.single_product_table {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    overflow: auto;
    font-family: Arial, sans-serif;
}

.fit-guide {
    font-size: .75rem;
    background-color: #fcfaf6;
    border-top: 1px solid #dcdcdc;
    width: 100%;
    font-size: .75rem;
}

.fit-guide thead th {
    padding: 25px 0;
    min-width: 0;
    text-transform: uppercase;
    font-weight: normal;
    width: 14%;
    line-height: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.fit-guide th:first-child,
.fit-guide td:first-child {
    border-left: 0;
}

.fit-guide th,
.fit-guide td {
    font-size: 13px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333 !important;
    padding: 10px;
    text-align: center;
}

@media(max-width: 767px) {
    .single_product_left_thumbnail {
        display: none;
    }

    .single_product_table {
        width: 800px;
        overflow-x: auto;
    }
}

/**********************************
    MY ACCOUNT PAGE
**********************************/
.my_account_area {}

.my_account_area > h2 {
    color: #e0b2aa;
    font-size: 1.33em;
    font-weight: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.my_account_area > h2 {}

.my_account_content {
    text-align: center;
    margin-bottom: 100px;
}

.my_account_content {}

.my_account_content h2 {
    color: #666;
    margin-bottom: 17px;
    font-size: 2.125rem;
    text-transform: none;
    border-bottom: 0;
}

.my_account_content {}

.my_account_content h3 {
    font-size: 16px;
    color: #666;
    margin: 5px 0px;
}

.my_account_content span {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #666;
    margin: 0px 3px;
}

.my_account_field select {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    width: 125px;
    height: 22px;
    background-color: #fcfaf6;
    border: 1px solid #666;
    margin: 0;
    border-radius: inherit;
    padding: 0;
    font-size: 9px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.my_account_field {}

.my_account_field button,
.my_account_field button:hover,
.my_account_field button:focus {
    padding: 20px 50px;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    background-color: #e0b2aa;
    border: 1px solid #fff;
    box-shadow: 0 0 0 5px #e0b2aa;
    cursor: pointer;
    transition: all .15s ease-in-out;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: 0;
    display: inline-block;
    max-width: 100%;
    margin: 20px auto;
    color: #fff;
}

.my_account_field button:hover {
    background-color: #e0b2aa;
    color: #666;
}

.my_account_field {}

.my_account_details {
    position: relative;
    padding: 11px;
    margin: 0 0 1em;
    background-color: #fcfaf6;
}

.my_account_details button {}

.my_account_details button,
.my_account_details button:hover,
.my_account_details button:focus {
    padding: 10px 8px;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    background-color: #e0b2aa;
    border: 1px solid #fff;
    box-shadow: 0 0 0 5px #e0b2aa;
    cursor: pointer;
    transition: all .15s ease-in-out;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: 0;
    display: inline-block;
    max-width: 100%;
    color: #fff;
    top: 11px;
    right: 11px;
    position: absolute;
}

.my_account_details button:hover {
    background-color: #e0b2aa;
    color: #666;
}

.my_account_details h2 {
    font-size: 1.33em;
    font-weight: normal;
    color: #666;
}

.my_account_details ul {}

.my_account_details ul li span {
    font-weight: bold;
}

.my_account_details ul li {
    margin: 4px 0;
    color: #666;
    font-size: 14px;
}

.my_account_details > a {
    color: #e0b2aa;
    font-size: 14px;
}

.my_account_details > a {}

.my_account_inner a {
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
}

.my_account_inner .my_account_heading h2 {
    font-size: 1rem;
    letter-spacing: .1rem;
    border-bottom: 1px solid #dcdcdc;
    text-transform: uppercase;
}

.my_account_inner {}

/***************************
    BILLING PAGE
***************************/
.billing_inner {}

.billing_inner > h2 {
    padding-bottom: 1em;
    font-size: 16px;
}


/***************************
    CHECKOUT PAGE
***************************/
.shipping_head {
    margin-bottom: 10px;
    padding: 4px 0px;
    margin-bottom: 16px;
}

.shipping_head h2 a {
    color: #666;
}

.shipping_head h2 a:hover {
    color: #000;
}

.shipping_head h2 {
    font-size: 1rem;
    letter-spacing: .1rem;
    border-bottom: 1px solid #dcdcdc;
    text-transform: uppercase;
}

.login_inner.checkout_left {
    margin-bottom: 10px;
    padding: 4px 11px;
}

.login_inner.billing_inner button,
.login_inner.billing_inner button:hover,
.login_inner.billing_inner button:focus {
    margin-left: 0;
}

.checkout_left {}

.login_inner.checkout_left button,
.login_inner.checkout_left button:hover,
.login_inner.checkout_left button:focus {
    margin-left: 0;
}

.checkout_list {
    margin: 20px 0px;
}

.checkout_list li a {
    color: #666;
    font-size: 13px;
    letter-spacing: .1rem;
    border-bottom: 1px solid #dcdcdc;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.checkout_list li a:hover {
    color: #000;
}

.checkout_list h2 {}

.checkout_list {}
.product_filter_right ul li:first-child {
    position: relative;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fcfaf6;
    border: 1px solid #666;
    margin-left: 10px;
}
/*custom css*/
.my_account_area h2.my_accout_title {
    color: #e0b2aa;
    font-size: 1.33em;
    font-weight: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.my_account_field button,
.my_account_field button:hover,
.my_account_field button:focus {
    padding: 20px 50px;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    background-color: #e0b2aa;
    border: 1px solid #fff;
    box-shadow: 0 0 0 5px #e0b2aa;
    cursor: pointer;
    transition: all .15s ease-in-out;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: 0;
    display: inline-block;
    max-width: 100%;
    margin: 20px auto;
    color: #fff;
}

.my_account_field button:hover {
    background-color: #e0b2aa;
    color: #666;
}
.my_dashboard_inner.my_info_bg_1 {
    background: #fffbe0;
}
.my_dashboard_inner {
    padding: 30px 0px;
    margin-bottom: 30px;
}
.my_dashboard_inner.my_info_bg_2 {
    background: #fcedf7;
}
.my_dashboard_inner.my_info_bg_3 {
    background: #e9f2ff;
}
.my_dashboard_inner img {
    width: 67px;
    height: 72px;
    margin-bottom: 25px;
}
.my_dashboard_inner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.my_dashboard_inner a {
    font: 14px "Circular-Book",Arial,Helvetica,sans-serif;
    line-height: normal;
    color: #2b2b2b;
    line-height: 22px;
    letter-spacing: .025em;
    display: inline-block;
    text-decoration: underline;
}
/*my information page css*/
.my_information_content{
    text-align: left;
}
.common_left_menu > ul > li input[type="submit"]{
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
    text-align: left;
}